@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'League Spartan', sans-serif;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr 10vw 1fr;
   grid-template-rows: 2fr 1fr;

   @media (max-width: 800px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns:  1fr;
   }
}
